* {
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: normal;
    text-decoration: none;
    font-family: Arial, sans-serif;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

    /* Add the font "Hack-Bold" locally */
    @font-face {
    font-family: 'Hack';
    src: url('../fonts/Hack-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Hack-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Hack-Bold.svg#Hack-Bold') format('svg'); /* Legacy iOS */
}

video {
    display: none;
}

h6 {
    display: none;
}

.main {
    min-width: 250px;
    max-width: 960px;
    margin: 0 auto;
}

.main section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header {
    background-image: url(../img/companylogoBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 100%;
}

header a {
    display: flex;
    width: 100%;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-family: Hack, sans-serif;

}

nav {
    background: #707070;
    border: 4px solid white;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-list {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 12px;
    max-width: 500px;
    flex-direction: column;
    position: relative;

}

nav li {
    margin: 15px 0px;
}

nav a {
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
}

nav a:hover {
    color: #2699FB;
}

/* Hamburger icon */
input[type=checkbox] {
    position: absolute;
    left: 6px;
    top: 90px;
    z-index: 2;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
  }
                
  #hamburger {
    top: 92px;
    left: 7px;
    width: 45px;
    height: 50px;
    position: absolute;
    border: none;
  }
  
  #hamburger span {
    display: block;
    position: absolute;
    height: 12px;
    width: 100%;
    background: #fff;
    transition: .2s ease;
  }

  input[type=checkbox]:hover ~ #hamburger span {
      background: #2699FB;
  }

  /* Style spans to display top, middle and bottom part of burger */
  #hamburger span:nth-child(1) {
    top: 0px;
  }
  
  #hamburger span:nth-child(2) {
    top: 17px;
  }
  
  #hamburger span:nth-child(3) {
    top: 34px;
  }
  
  /* Transform burger elements to an X once the hidden checkbox is checked*/

  input[type=checkbox]:checked ~ #hamburger span:nth-child(1) {
    transform: rotate(45deg);
    top: 17px;
  }
  
  input[type=checkbox]:checked ~ #hamburger span:nth-child(2) {
    width: 0;
    opacity: 0;
  }
  
  input[type=checkbox]:checked ~ #hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 17px;
  }

  /* Unhide navigation ul when the button is pressed */
  input[type=checkbox]:checked ~ .nav-list {
      display: flex;
  }

footer {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

footer p {
    color: #fff;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100px;
    background: #2699FB;
    text-transform: uppercase;
}

article h2 {
    color: #fff;
    font-size: 1.5rem;
    max-width: 220px;
}

article:not(:first-of-type) {
    display: none;
}

/* Index page */
/* ########## */

figure {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 3px solid #fff;
}

.index figure:nth-of-type(1) {
    background-image: url(../img/small/product3.jpg);
}

.index figure:nth-of-type(2) {
    background-image: url(../img/small/product8.jpg);
}

.index figure:nth-of-type(3) {
    background-image: url(../img/small/product6.jpg);
}

.index figure:nth-of-type(4) {
    background-image: url(../img/small/product9.jpg)
}

/* Products page */
/* ############# */

.banner, .contact-banner {
    height: 48px;
}

.banner h2, .contact-banner h2 {
    max-width: 100%;
}

.banner h2:nth-of-type(2) {
    display: none
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 14px;
}

.gallery a {
    flex: 100%;
    max-width: 100%;
    height: 200px;
    display: block;
    background-size: cover;
    background-position: center;
    border: 14px solid #fff;
    border-bottom: 0px solid #fff;

}

.gallery a:nth-of-type(1) {
    background-image: url(../img/small/product1.jpg);
}
.gallery a:nth-of-type(2) {
    background-image: url(../img/small/product2.jpg);
}
.gallery a:nth-of-type(3) {
    background-image: url(../img/small/product3.jpg);
}
.gallery a:nth-of-type(4) {
    background-image: url(../img/small/product4.jpg);
}
.gallery a:nth-of-type(5) {
    background-image: url(../img/small/product5.jpg);
}
.gallery a:nth-of-type(6) {
    background-image: url(../img/small/product6.jpg);
}
.gallery a:nth-of-type(7) {
    background-image: url(../img/small/product7.jpg);
}
.gallery a:nth-of-type(8) {
    background-image: url(../img/small/product8.jpg);
}
.gallery a:nth-of-type(9) {
    background-image: url(../img/small/product9.jpg);
}
.gallery a:nth-of-type(10) {
    background-image: url(../img/small/product10.jpg);
}
.gallery a:nth-of-type(11) {
    background-image: url(../img/small/product11.jpg);
}
.gallery a:nth-of-type(12) {
    background-image: url(../img/small/product12.jpg);
}

/* Contact Page */
/* ############ */

.contact {
    background: #F5F5F5;
}

.contact h3 {
    display: none;
}

form {
    margin: 1.5rem;
    overflow: hidden;
    margin-bottom: 10px;
    width: 100%;
}

label, form, fieldset, select {
    font-size: 1rem;
    color: #707070;
}

fieldset {
    padding: 0;
    margin: 1rem 0;
    border: 2px solid #707070;
    background: #fff;
    min-height: 30px;
}

fieldset:nth-of-type(1) {
    padding: 5px;
}

select {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    border: 2px solid #707070;
    color: #707070;
    border-radius: 0;
}

input[type=text], input[type=email], textarea {
    line-height: 2rem;
    width: 100%;
    padding-left: 8px;
    min-height: 32px;
}

textarea {
    display: block;
    resize: vertical;
    min-height: 5rem;
}

input[type=submit] {
    width: 100%;
    height: 2rem;
    font-size: 1.25rem;
    border: 2px solid rgba(0, 0, 0, .25);
    background: #2699FB;
    color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    right: -0.125rem;
}

input[type=submit]:hover {
    cursor: pointer;
    color: #2699FB;
    background: #fff;
    border-color: #2699FB;
}

input[type=submit]:active {
    color: #444;
}

/* Media Querries */
/* ############## */

/* Tablet */
@media screen and (min-width: 361px) {
    header {
        height: 200px;
    }
    header a {
        font-size: 2.5rem;
        text-shadow: #000 2px 0px 0px,
        #000 1.75517px 0.958851px 0px,
        #000 1.0806px 1.68294px 0px,
        #000 0.141474px 1.99499px 0px,
        #000 -0.832294px 1.81859px 0px,
        #000 -1.60229px 1.19694px 0px,
        #000 -1.97998px 0.28224px 0px,
        #000 -1.87291px -0.701566px 0px,
        #000 -1.30729px -1.5136px 0px,
        #000 -0.421592px -1.95506px 0px,
        #000 0.567324px -1.91785px 0px,
        #000 1.41734px -1.41108px 0px,
        #000 1.92034px -0.558831px 0px;
    }
    nav {
        border: 1px solid #fff;
        justify-content: center;
        align-items: center;
    }

    .nav-list a {
        height: 100%;
        line-height: 1.75rem;
    }

    .nav-list {
        display: flex;
        padding: 0 1rem;
        
        flex-direction: row;
    }

    input[type-checkbox], #hamburger {
        display: none;
    }

    article:not(:first-of-type) {
        display: none;
    }

    article {
        height: 10rem;
    }

    article h2 {
        max-width: 420px;
        font-size: 3rem;
    }

    article:nth-of-type(4) {
        display: flex;
    }

    figure {
        height: 16rem;
        border: none;
    }

    figure:nth-of-type(3) {
        display: none;
    }

    figure:nth-of-type(-n+2) {
        flex: 50%;
        max-width: 50%;
        border: 3px solid #fff;
    }

    footer {
        font-size: 1.25rem;
    }

    .banner, .contact-banner {
        display: none;
    }

    .gallery {
        margin: 0 7px 14px 7px;
    }

    .gallery a {
        flex: 50%;
        max-width: 50%;
        border-right: 7px solid #fff;
        border-left: 7px solid #fff;
    }

    fieldset:nth-of-type(1) {
        padding: 1rem;
    }

    label {
        font-size: 2rem;
    }
    
    textarea {
        font-size: 2rem;
    }

    input {
        font-size: 2rem;
    }

    select {
        font-size: 2rem;
    }

    input[type=text], input[type=email] {
        height: 60px;
        
    }
    input[type=text], input[type=email], textarea {
        padding-left: 1rem;
    }

    textarea {
        padding-top: 1rem;
    }

    input[type=submit] {
        height: 3rem;
        font-size: 2rem;
    }

    /* Does not work in IE11 without vendor prefix. But the color is close enough not to worry. */
    ::placeholder {
        opacity: 1;
        color: #AAA;
    }

}

/* Additional breakpoint to smooth things out */
@media screen and (min-width: 651px) {
    figure {
        height: 430px;
    }

    article {
        height: 230px;
    }

    article h2 {
        font-size: 4.5rem;
        max-width: 620px;
    }

    header a {
        font-size: 5.25rem;
    }

    .gallery a {
        height: 290px;
    }
}

@media screen and (min-width: 961px) {

    /* enable background video */
    video {
        display: block;
        position: absolute;
        z-index: -1;
        max-width: 100%;
    }

    header a {
        font-size: 6.5rem;
        text-shadow: #000 3px 0px 0px,
        #000 2.83487px 0.981584px 0px,
        #000 2.35766px 1.85511px 0px,
        #000 1.62091px 2.52441px 0px,
        #000 0.705713px 2.91581px 0px,
        #000 -0.287171px 2.98622px 0px,
        #000 -1.24844px 2.72789px 0px,
        #000 -2.07227px 2.16926px 0px,
        #000 -2.66798px 1.37182px 0px,
        #000 -2.96998px 0.42336px 0px,
        #000 -2.94502px -0.571704px 0px,
        #000 -2.59586px -1.50383px 0px,
        #000 -1.96093px -2.27041px 0px,
        #000 -1.11013px -2.78704px 0px,
        #000 -0.137119px -2.99686px 0px,
        #000 0.850987px -2.87677px 0px,
        #000 1.74541px -2.43999px 0px,
        #000 2.44769px -1.73459px 0px,
        #000 2.88051px -0.838247px 0px;
    }

    nav a {
        font-size: 1.5rem;
    }
    figure:nth-of-type(n) {
        display: flex;
        flex: 100%;
        max-width: 100%;
        height: 400px;
        border: none;
    }
    article:nth-of-type(n) {
        display: flex;
    }

    article h2 {
        font-size: 4.5rem;
        max-width: 605px;
    }

    article:not(:first-of-type) h2 {
        max-width: 500px;
    }

    footer {
        font-size: 1.75rem;
    }

    .banner, .contact-banner {
        display: flex;
        height: 120px;
    }

    .banner h2:nth-of-type(1) {
        display: none;
    }

    .banner h2:nth-of-type(2) {
        display: block;
    }

    .gallery {
        margin: 0;
        border-bottom: 14px solid #fff;
    }

    .gallery a {
        height: 200px;
        flex: calc(100% / 3);
        max-width: calc(100% / 3);
    }

    .gallery a:nth-of-type(3n-2) {
        border-left: 14px solid #fff;
    }

    .gallery a:nth-of-type(3n) {
        border-right: 14px solid #fff;
    }

    .contact h3 {
        display: block;
        font-size: 2rem;
        color: #707070;
        margin: 1.75rem;
        margin-bottom: 0;
    }

    form {
        margin: 1rem 4rem;
        margin-top: 0;
        font-size: 2rem;
    }

    fieldset:nth-of-type(1) {
        padding: 8px;
    }

    label {
        float: left;
        padding-top: 3px;
    }

    select {
        float: right;
        width: 600px;
        margin: 0;
        
    }

    input[type=submit] {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}